@charset "utf-8";

// bulma
// Import only what you need from Bulma
@import "bulma";


// fonts
@import url("https://use.typekit.net/pau2dqq.css");

// custom library
@import "lib/all";

// typography
@import "typography";


html {

  font-size: 12px;

  @include from($tablet) {
    font-size: 14px;
  }

  @include from($desktop) {

  }

  @include from($widescreen) {
    font-size: 16px;
  }

  @include from($fullhd) {

  }

  &.alt-bg {
    background-color: #F4F4F4;

  }

}

body {
  font-family: 'Courier', monospace;
  font-weight: 400;
  color: $primary-color;
  line-height: 1.7;
  margin: 0;
  overflow-x: hidden; // :TODO: #3 Zkontrolovat, co způsobuje horizontální scrolling (Safari, Mac OS)

}

strong {
}

a {
  color: inherit;
  text-decoration: underline;
}

h1, h2, h3 {

}

p {}

/* :CUSTOM CLASSES: */

/* Removes the forced telephone styling on mobile phones */
a[href^="tel"] {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
  /* Additional css `propery: value;` pairs here */
}

[data-rel] {
  cursor: pointer;
}

input[type="text"] {
  border: 1px solid #000;
  border-radius: 12px;
  height: 60px;
  background-color: transparent;
  font-size: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
  &:focus,
  &:hover {
    outline: none;
  }
}

.button-large {
  border-radius: 12px;
  background-color: #000;
  min-width: 340px;
  height: 60px;
  color: #fff;
  cursor: pointer;
  font-family: Courier, monospace;
  font-size: 15px;
}

/****************************************************/
/* :DEBUG: */
.debug-bar {
  position: fixed;
  bottom: 0; right: 0;
  width: 200px;
  height: 50px;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "mobile";
  }

  @include from($tablet) {
    &:after {
      content: "tablet";
    }
  }

  @include from($desktop) {
    &:after {
      content: "desktop";
    }
  }

  @include from($widescreen) {
    &:after {
      content: "widescreen";
    }
  }

  @include from($fullhd) {
    &:after {
      content: "fullhd";
    }
  }

}
/****************************************************/
