@charset "utf-8"

@use "sass:math"

// bulma
// Import only what you need from Bulma
@import "bulma/all"

// fonts
@import url("https://use.typekit.net/pau2dqq.css")

// assemblage
@import "assemblage/all"

// custom library
@import "defs/all"

// typography
@import "typography"


html
  font-size: 12px

  box-sizing: border-box
  min-width: 1400px /* :TODO: */
  overflow: auto /* :TODO: */

  +from($tablet)
    font-size: 14px

  +from($desktop)

  +from($widescreen)
    font-size: 16px


  +from($fullhd)

  &.popup-detail-on

    .main-header
      position: static

    .app-content
      overflow: hidden
      position: fixed



body
  font-family: 'Courier', monospace
  font-weight: 400
  color: $primary-color
  line-height: 1.7
  margin: 0
  overflow-x: hidden // :TODO: #3 Zkontrolovat, co způsobuje horizontální scrolling (Safari, Mac OS)


a
  color: inherit
  text-decoration: underline

/* Removes the forced telephone styling on mobile phones */
a[href^="tel"]
  color: inherit /* Inherit text color of parent element. */
  text-decoration: none /* Remove underline. */
  /* Additional css `propery: value` pairs here */

[data-rel]
  cursor: pointer

input[type="text"]
  border: 1px solid #000
  border-radius: 12px
  height: 60px
  background-color: transparent
  font-size: 15px
  padding-left: 1rem
  padding-right: 1rem
  &:focus,
  &:hover
    outline: none


input[type="radio"]

  &:after
    border-radius: 50px

input[type="radio"],
input[type="checkbox"]
  position: relative
  transition: .3s border-color, .3s background-color

  &.selected::after
    background-color: $color-primary-blue

  &:not(.selected):hover::after
    background: #f7f7f7
    border: 2px solid #fff

  &:after
    content: ""
    width: 20px
    height: 20px
    background-color: #fff
    display: inline-block
    cursor: pointer
    position: relative
    top: -2px
    left: -5px

.component-footer

  margin-top: math.div($margin-from-desktop, 4)

  .buttons-more
    display: flex
    align-items: center
    justify-content: center

    .button-large + .button-large
      +desktop
        margin-left: 1em

    .button-large, .button-large
      display: inline-flex

.seznam-content-container
  display: flex

  .seznam-filter-sidebar
    margin-right: 50px
    color: $color-primary-blue
    background-color: #F4F4F4

    .seznam-filter-sidebar-content
      width: $filter-button-width
      padding: 30px
      border: 1px solid #000
      border-radius: 10px




    .seznam-filter-sidebar-content-section
      border-top: 1px solid #000
      padding-top: 10px
      margin-top: 20px

    .seznam-filter-sidebar-content-header
      text-align: center

    .seznam-filter-sidebar-content-section-title
      color: #000
      font-size: 15px
      margin-bottom: 15px
      line-height: 1

    .filter-list
      list-style: none


      &.filter-list-inline
        display: flex

        .filter-list-item
          margin-right: 20px

      .filter-list-item

        margin-bottom: 5px

        label
          display: flex
          justify-content: flex-start
          cursor: pointer

        .filter-list-item-checkbox
          margin-right: 10px

.seznam-filter-list
  flex: 1 1 auto

  .columns
    align-items: flex-start


.filter-seznam-filter-statistics

  +until($tablet)

  +from($tablet)

  +from($desktop)
    margin: 100px auto

  +from($widescreen)

  +from($fullhd)


.filter-seznam-filter-statistics-content
  display: flex
  justify-content: center
  align-items: center
  min-height: 400px

.statistics-diagram
  &.simple

    display: flex
    align-items: center
    justify-content: center

    .diagram-desc
      margin-right: 15px
      width: 150px
      text-align: right
    .diagram-graphics
      $sizeDiagram: 126px
      background-color: #E5E5E5
      border-radius: $sizeDiagram
      width: $sizeDiagram
      height: $sizeDiagram
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      .diagram-graphics-value
        @extend %typography-body-text
        font-size: 45px
        line-height: 1



.parlament-detail-map

  .typography-section-title
    position: relative
    z-index: 2
    margin-bottom: -140px


.client-only-placeholder
  text-align: center



.mapbox

    position: relative
    overflow: hidden
    z-index: 0

    &.is--large
      height: 800px

    +from($widescreen)
     height: calc(100vh - 80px)


.leaflet-popup
  .leaflet-popup-close-button
    z-index: 9

.leaflet-popup-content-wrapper,
.leaflet-popup-tip

  box-shadow: none
  color: #000
  background: none

.leaflet-popup-content,
.leaflet-popup-content[style]
    width: auto !important
    margin: 0
.leaflet-popup-content-wrapper
  padding: 0
  border: none
  border-radius: 0

.map-address-popup
  display: flex
  justify-content: space-between
  flex-direction: row

.map-card__dates
  margin: 1em 0
  max-height: 350px
  overflow-y: auto

.map-card__date-item
  margin-bottom: .5em


.map-address-icon
    width: 50px
    height: 50px
    background-color: black
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    text-align: center

    .map-person-thumb-head-icon-image,
    .map-person-thumb-head-icon-image[style]
      position: absolute
      width: 100% !important
      height: 100% !important
      object-fit: cover
      object-position: top

      &.has--bg-color
        width: 70% !important
        height: 70% !important


    &.map-person-thumb-head-icon

      path
        stroke: #fff
        stroke-width: 5px
        fill: none

    svg
      width: auto
      height: 60%



.map-person-thumb-head-icon
  overflow: hidden
  position: relative
  width: 50px
  height: 50px




.map-person-thumb-head-icon-image,
.map-person-thumb-head-icon-image[style]

  border-radius: 100%
  overflow: hidden
  background: #000
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  object-fit: cover
  max-width: 100%
  max-height: 100%
  object-position: top

  svg
    height: 60%
    fill: none

    path
      stroke: white
      stroke-width: 4px

.leaflet-popup-tip-container

  display: none
/****************************************************/
/* :Social network card: */

.map-person-thumb-head-icon
  display: flex
  justify-content: center
  align-items: center

  svg
    width: 50%
    height: auto



.is-map-card
  position: relative
  z-index: 1

  background-color: #fff
  border: 1px solid #000
  box-sizing: content-box
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  min-width: 244px
  min-height: 125px
  border-radius: 14px
  padding: 20px
  flex-direction: column

  text-decoration: none
  // margin-right: math.div($margin-until-desktop, 2)

  display: flex
  justify-content: space-between
  align-items: space-between


  .map-card__title

    @extend %typography-card-title

  .map-card__content

    .map-card__content__address

      @extend %typography-metadata-section-title

    .map-card__content__address__meta

      margin-top: 1em


  &::before
    content: ""

    width: 0
    height: 0
    border-style: solid
    border-width: 16px 0 16px 27.7px
    border-color: transparent transparent transparent #000


    position: absolute
    bottom: 66px
    right: -28px
    z-index: 1


  &::after
    content: ""

    width: 0
    height: 0
    border-style: solid
    border-width: 15px 0 15px 26.0px
    border-color: transparent transparent transparent #fff


    position: absolute
    bottom: 67px
    right: -26px
    z-index: 2



  .content-container
    .content
      max-width: 100%



  .is-poslanec
    font-size: 12px
    font-style: italic

  .image
    border-radius: 100%
    width: 124px
    height: 124px
    background-color: lightgray

  .content-container
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 157px

    .header
      line-height: 1.1

    .content
      font-size: 14px
      line-height: 1.1
      max-width: 200px



.is-map-card.person-poslanec-card

  width: 380px
  min-height: 153px
  background-color: #fff
  border: none
  text-decoration: none
  color: #000

  display: flex
  justify-content: center
  align-items: center
  flex-direction: row

  column-gap: 5%

  .map-card__content__address__meta
    font-size: 90%
    margin-top: 1em

  .map-card__footer
    margin-top: 1em
    text-decoration: underline

  .image-container
    flex: none
    width: 110px
    +desktop
      width: 130px
      height: 130px


  .content-container

    .header
      font-size: clamp(1rem, 0.9375vw, 2rem)

    .content
      display: flex
      max-width: none



/* :End Social network card: */
/****************************************************/

/****************************************************/
/* :DEBUG: */
.debug-bar
  position: fixed
  bottom: 0
  right: 0
  width: 200px
  height: 50px
  background: #fff
  text-align: center
  display: flex
  justify-content: center
  align-items: center

  &:after
    content: "mobile"

  +from($tablet)
    &:after
      content: "tablet"

  +from($desktop)
    &:after
      content: "desktop"

  +from($widescreen)
    &:after
      content: "widescreen"

  +from($fullhd)
    &:after
      content: "fullhd"



/****************************************************/

page-enter-active,
.page-leave-active
  transition: opacity 0.5s

.page-enter,
.page-leave-to
  opacity: 0


.is-map-card

  .header
    @extend %typography-body-text

  .content
    @extend %typography-alt-heading


.mapa-container
  margin-bottom: 2em

.section-title-subtitle
  display: block
  font-size: .5em
  font-style: italic
  margin-top: .25em


.section-title-no-margin-bottom
  margin-bottom: 0
